{{set . "title" "Home"}}
{{template "header.html" .}}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">done</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Lets get started</h1>
	  <p>{{.greeting}}</p>
      <p>Go, revel, and bootstrap rocks!</p>


<table border="1">
<tr>
<td>row 1, cell 1</td>
<td>row 1, cell 2</td>
</tr>
<tr>
<td><a href="http://bootsnipp.com/resources#5">resources </a></td>
<td>row 2, cell 2</td>
</tr>
</table>

<p><i class="icon-search"></i>  http://tarruda.github.io/bootstrap-datetimepicker/</p>

		<!-- Button to trigger modal -->
		<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo
		modal</a>
		
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"
		    aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Modal header</h3>
		  </div>
		  <div class="modal-body">
		    <p>One fine body...</p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal"
		    aria-hidden="true">Close</button>
		    <button class="btn btn-primary">Save changes</button>
		  </div>
		</div>
		
		
    </div> <!-- /container -->
	
{{template "footer.html" .}}

